.icon-about {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-appstore {
  width: 1em;
  height: 1em;
  fill: #5be549;
}
.icon-arroba {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-arrobaauto {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-arrowright {
  width: 1em;
  height: 1em;
  fill: #3d90cc;
}
.icon-astrazeneca {
  width: 4em;
  height: 1em;
  fill: initial;
}
.icon-autodesk {
  width: 5.78em;
  height: 1em;
  fill: initial;
}
.icon-bloomberg {
  width: 5em;
  height: 1em;
  fill: initial;
}
.icon-build {
  width: 1em;
  height: 1em;
  fill: #866897;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-checkmark {
  width: 1em;
  height: 1em;
  fill: #63b5a4;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-comment {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-comments {
  width: 1em;
  height: 1em;
  fill: #d5e5f2;
}
.icon-control {
  width: 1em;
  height: 1em;
  fill: #bb4c72;
}
.icon-delegates {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-exhibitmaps {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-exhibitors {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-eye {
  width: 1em;
  height: 1em;
  fill: #5ed26d;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #535966;
}
.icon-google {
  width: 2.93em;
  height: 1em;
  fill: initial;
}
.icon-gplus {
  width: 1em;
  height: 1em;
  fill: #535966;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #535966;
}
.icon-likes {
  width: 1em;
  height: 1em;
  fill: #d5e5f2;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: #535966;
}
.icon-logo {
  width: 4.19em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-man {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-measure {
  width: 1em;
  height: 1em;
  fill: #dae4ed;
}
.icon-messages {
  width: 1em;
  height: 1em;
  fill: #d5e5f2;
}
.icon-news {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-newspaper {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-nextstep {
  width: 1em;
  height: 1em;
  fill: #d9d9d9;
}
.icon-percent {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-philips {
  width: 5.36em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-photocamera {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-photos {
  width: 1em;
  height: 1em;
  fill: #d5e5f2;
}
.icon-picture {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-pictures {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-pint {
  width: 1em;
  height: 1em;
  fill: #535966;
}
.icon-plane {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-polls {
  width: 1em;
  height: 1em;
  fill: #d5e5f2;
}
.icon-schedule {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-share {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.icon-speakers {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-sponsors {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: #535966;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: #dae8f2;
}
.icon-web {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
