<section class="section is--blue bells-whistles">
  <div class="wrap">
    <div class="bells-whistles__header">
      <h2 class="h2 is--row is--light">All the bells & whistles.</h2>
      <p>We're not only social, we know how to get down to business.</p>
    </div>
    <ul class="bells-whistles__list">
      {% for item in bw %}
      <li class="bells-whistles__item">
        <div class="bells-whistles__wrap">
          <span>{{mixins.icon(item.img)}}</span>
          <p>{{item.subtitle}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
