<section class="section is--light clients">
	<div class="wrap">
		<div class="clients__caption">
			<h2 class="h2 clients__header">Engagement you can count on.</h2>
			<p>See what our clients achieved with Attendify's platform.</p>
		</div>
		<div class="clients__content">
			{% for client in clients %}
			<div class="clients__item">
				<div class="clients__item_content">
					<div class="clients__logo">{{mixins.icon(client.logo)}}</div>
					<span>{{client.number}}</span>
					<p>{{client.text}}</p>
					{% for item in client.icons %}
					<i>{{mixins.icon(item)}}</i>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>