<section class="section price">
	<div class="wrap">
		<div class="price__caption">
			<h2 class="h2 price__header">Simple pricing.</h2>
			<p>Attendify isn't only the fastest & easiest way to build your app, but also affordable:</p>
		</div>
		<div class="price__content">
			<ul class="price__list">
				{% for item in price %}
				<li class="offer is--{{item.position}}">
					<h5 class="h5 offer__title">{{item.title}}</h5>
					<div class="offer__content">
						<p>{{item.text}}</p>
						<p><sub>$</sub>{{item.price}}<sup>{{item.period}}</sup></p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="start">
			<h3 class="h3 is--big start__header">Ready to get started?</h3>
			<div class="start__content">
				{% for form in forms %}
				<div class="start__item">
					<h6 class="h6 start__title">{{form.title}}</h6>
					<form action="#" class="form">
						{% for item in form.input %}
						<input type="text" class="input form__input" placeholder="{{item}}">
						{% endfor %}
					</form>
					<button class="form-btn is--{{form.colorbtn}}">{{form.btn}}</button>
				</div>
				{% endfor %}
				<div class="separator is--tall"></div>
			</div>
		</div>
	</div>
</section>