<!-- begin footer -->
	<div class="footer">
		<div class="footer__in l-container">
			<div class="footer__item">
				<h5 class="title title_h5">Региональный Лизинговый Центр</h5>
				<div class="footer__about">
					<p>
						Выгодные условия лизинга автомобилей и техники в России
					</p>
				</div>
			</div>
			<div class="footer__item">
				<div class="footer__telephone">
					<div class="footer__icon">
						{{mixins.icon('icon')}}
					</div>
					<div class="footer__number">
						<a class="footer__telephone" href="tel:8(495)6658444">8 (495) 665 8 444</a>
						<a href="#" class="footer__link js-modal-link" data-modallink="order-call">Заказать звонок</a>
					</div>
				</div>
				<div class="footer__mail">
					<div class="footer__icon">
						{{mixins.icon('envelope')}}
					</div>
					<a class="footer__link footer__link_email" href="mailto:info@reglc.ru">info@reglc.ru</a>
				</div>
			</div>
			<div class="footer__item footer__item_adress">
				<div class="footer__icon">
					{{mixins.icon('maps-and-flags')}}
				</div>
				<div class="footer__adress">
					<div class="footer__adress-value">
						<span>Наш офис:</span>
						г. Москва, ул. Шоссе Энтузиастов д.11А
					</div>
					<a href="#" class="footer__link js-modal-link" data-modallink="ask-manager">Задать вопрос менеджеру</a>	
				</div>
			</div>
			<div class="footer__item footer__item_copy">
				<a href="#" class="footer__copy-link js-modal-link" data-modallink="privacy-policy">Политика конфиденциальности</a>
				<br />
				2017 &copy; Все права защищены
				<br />
				<a class="footer__link" href="http://heidep.com/" target="_blank"><strong>Творцы сайта</strong> Heidep</a>
			</div>
		</div>
	</div>
<!-- end footer -->