<form class="form program-view__form">
	<!-- begin select -->
		<div class="select {% if (type !== 'equipment') and (type !== 'special-equipment') %}js-get-options{% endif %}" data-select="{{type}}" data-select-type="Модель">
			<select name="Марка" data-name="{{type}}" required>
				<option default disabled="true">{{title}}</option>
			</select>
		</div>
	<!-- end select -->
	{% if type == 'equipment' %}
	<!-- begin input -->
		<div class="input input_required">
			<input type="text" class="input__field js-required" name="Модель" />
			<span class="input__placeholder input__placeholder">Описание/марка/модель</span>
		</div>
	<!-- end input -->
	{% elif type == 'special-equipment' %}
	<!-- begin select -->
		<div class="select" data-select="{{type}}-models" data-select-type="Модель">
			<select name="Модель" data-name="{{type}}-models">
				<option default disabled="true">Модель</option>
			</select>
		</div>
	<!-- end select -->
	{% else %}
	<!-- begin select -->
		<div class="select" data-set-options="{{type}}">
			<select name="Модель">
				<option default disabled="true">Модель</option>
			</select>
		</div>
	<!-- end select -->
	{% endif %}
	<!-- begin select -->
		<div class="select">
			<select name="Состояние" required>
				<option default disabled="true">Новый / БУ</option>
				<option value="Новый">Новый</option>
				<option value="БУ">БУ</option>
			</select>
		</div>
	<!-- end select -->
	<!-- begin input -->
		<div class="input input_required">
			<input type="number" class="input__field js-required" name="Цена" />
			<span class="input__placeholder input__placeholder">Цена</span>
		</div>
	<!-- end input -->
	<div class="form__row">
		<!-- begin range -->
		<div class="range range_two-digits">
			<div class="range__header">Аванс, %</div>
			<div class="range__item" data-type="percents" data-max="50" data-min="0" data-start="20" data-step="10"></div>
			<div class="range__value"></div>
			<div class="range__values"></div>
			<input name="Аванс" type="text" />
		</div>
		<!-- end range -->
		<!-- begin range -->
		<div class="range">
			<div class="range__header">Срок, год</div>
			<div class="range__item" data-type="years" data-max="5" data-min="1" data-start="1" data-step="1"></div>
			<div class="range__value"></div>
			<div class="range__values"></div>
			<input name="Период выплаты" type="text" />
		</div>
		<!-- end range -->
	</div>
<!-- begin btn -->
	<a href="#" type="submit" class="btn btn_min btn_blue btn_size-sm js-next-step js-submit" data-modal-link="step-2">далее</a>
<!-- end btn -->
</form>
