<div class="calculator__container is-visible" data-transport="1">
<!-- begin program-view -->
	<div class="program-view">
		<div class="program-view__in">
			<div class="program-view__side program-view__side_slider program-view__side_left">
				<h4 class="title title_h4 program-view__title">
					Выберите марку автомобиля и заполните форму
				</h4>
				<!-- begin slider -->
					<div class="slider slider_icons">
						<div class="slider__arrows">
							<div class="slider__arrow slider__arrow_next slider__arrow_icons-next">
								{{mixins.icon('arrow-pointing-right-in-a-circle')}}
							</div>
							<div class="slider__arrow slider__arrow_prev slider__arrow_icons-prev">
								{{mixins.icon('arrow-pointing-right-in-a-circle')}}
							</div>
						</div>
						<div class="slider__in js-select-option-wrapper">
							{% for slide in iconsSlider %}
							<div class="slider__slide">
                <!-- begin icons-slide -->
                  <div class="icons-slide">
                    {% for item in slide %}
                    <div class="icons-slide__item {% if item.offer %}icons-slide__item_has-offer icons-slide__item_{{item.offer}}{% endif %} js-select-option" data-select-name="cars" data-select-header="{{item.title}}">
                      <div class="icons-slide__content">
                        <div class="icons-slide__logo">
                          <img src="{{item.logo}}" alt="Car logo" />
                        </div>
                        <div class="icons-slide__title">
                          {{item.title}}
                        </div>  
                      </div>
                      {% if item.offer %}
                      <div class="icons-slide__offer icons-slide__offer_{{item.offer}}">
                        {% if item.offer === 'discount' %}
                        <span>{{item.value}}<span class="icons-slide__percent">%</span></span>
                        {% elif item.offer === 'terms' %}
                        {{mixins.icon('star')}}
                        {% else %}
                        {{mixins.icon('dollar')}}
                        {% endif %}
                      </div>
                       <div class="icons-slide__hidden">
                        {% if item.offer === 'discount' %}
                         <span>{{item.text}} {{item.value}}%</span>
                        {% else %}
                        <span>{{item.text}}</span>
                        {% endif %}
                       </div>
                      {% endif %}
                    </div>
                    {% endfor %}
                  </div>
                <!-- end icons-slide -->
							</div>
							{% endfor %}
						</div>
					</div>
				<!-- end slider -->
			</div>
			<div class="program-view__side program-view__side_right">
				{% include './_form.html' %}
			</div>
		</div>
	</div>
<!-- end program-view -->
<!-- begin special-offers -->
  <div class="special-offers">
    <div class="special-offers__in">
      <h4 class="title title_h4 title_text-center title_text-light">ВЫГОДНЫЕ СПЕЦПРЕДЛОЖЕНИЯ</h4>
      <div class="special-offers__grid">
        {% for offer in offersCars %}
        <div class="special-offers__item special-offers__item_{{offer.type}}">
          <div class="special-offers__header">
            <div class="special-offers__offer">
              {% if offer.type === 'percent' %}
              <span>{{offer.value}}%</span>
              {% else %}
              {{mixins.icon('dollar')}}
              {% endif %}
            </div>
            <div class="special-offers__title">{{offer.title}}</div>
            <div class="special-offers__arrow">
              {{mixins.icon('down-arrow')}}
            </div>
          </div>
          <div class="special-offers__textual">
            <div class="special-offers__text">
              <p>
                {% if offer.text %}
                {{offer.text}}
                {% elif offer.list %}
                <ul>
                  {% for item in offer.list %}
                  <li>{{item}}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </p>
            </div>
          </div>
          <a href="#" class="special-offers__btn js-modal-link js-special-offer" data-modal-select="special-offers" data-modal-header="{{offer.offerHeader}}" data-offer-type="{{offer.offerType}}" data-modallink="special-offer">получить</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
<!-- end special-offers -->
</div>