.icon-17843-NR9UHP {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-angle-arrow-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-arrow-pointing-right-in-a-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-baby-face {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-briefcase {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-chronometer-arrow {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-chronometer {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-coin {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-cross-out {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-dollar-symbol {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dollar {
  width: 0.51em;
  height: 1em;
  fill: #000;
}
.icon-down-arrow {
  width: 1.91em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-file {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-gym {
  width: 1.89em;
  height: 1em;
  fill: initial;
}
.icon-human-head-with-a-question-mark-inside {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-icon {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-justice {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-male-silhouette-talking {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-maps-and-flags {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.icon-medal {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-money-stacks-of-coins {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-percentage {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pie-chart-outline {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rent-a-car-sign {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-speech-bubble {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.04em;
  height: 1em;
  fill: #000;
}
.icon-target {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-time-control-tool {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-trophy {
  width: 1em;
  height: 1em;
  fill: initial;
}
