---
title: Home

features:
  -
    -
     icon: speech-bubble
     title:
       - Стоимость авто не более
       - 2 650 000 рублей
    -
      icon: pie-chart-outline
      title:
        - Аванс 30%
      text:
        - Если стоимость превышает
        - 2650 000 рублей, аванс возрастает
    -
      icon: file
      title:
        - 'Одобрение по двум документам:'
      list:
        - Паспорт
        - Свидетельство ИНН
  -
    -
     icon: speech-bubble
     title:
       - Стоимость авто не ограничена
    -
      icon: pie-chart-outline
      title:
        - Аванс от 5%
    -
      icon: file
      title:
        - Минимальный пакет документов
  -
    -
     icon: speech-bubble
     title:
       - Грузовой транспорт РФ и
       - Беларусского производства
    -
      icon: pie-chart-outline
      title:
        - Аванс 30%
    -
      icon: file
      title:
        - 'Одобрение по одному документу:'
      list:
        - Паспорт
  -
    -
     icon: speech-bubble
     title:
       - Стоимость транспорта
       - не ограничена
    -
      icon: pie-chart-outline
      title:
        - Аванс от 9%
    -
      icon: file
      title:
        - Стандартный пакет документов
  -
    -
     icon: speech-bubble
     title:
       - Стоимость техники не более
       - 4 000 000 рублей
    -
      icon: pie-chart-outline
      title:
        - Аванс от 5%
      text:
        - Если стоимость превышает
        - 4 000 000 рублей, аванс возрастает
    -
      icon: file
      title:
        - Минимальный пакет документов
        - без оценки финансового
        - состояния.
  -
    -
     icon: speech-bubble
     title:
       - Стоимость техники не ограничена
    -
      icon: pie-chart-outline
      title:
        - Аванс от 10%
    -
      icon: file
      title:
        - Стандартный пакет документов
  -
    -
     icon: speech-bubble
     title:
       - Стоимость оборудования
       - до 12 млн. рублей
    -
      icon: pie-chart-outline
      title:
        - Аванс 25%
      text:
        - Стоимость оборудования
        - от 5 000 000 рублей
    -
      icon: file
      title:
        - Минимальный пакет документов
      list:
        -  Без оценки финансового состояния.
        - Существование компании 3 года.
  -
    -
     icon: speech-bubble
     title:
       - Стоимость оборудования
       - не ограничена
    -
      icon: pie-chart-outline
      title:
        - Аванс от 15%
    -
      icon: file
      title:
        - Стандартный пакет документов

iconsSlider:
  -
    -
      title: Audi
      logo: img/auto-logo/audi.png
      offer: discount
      value: 11
      text: Скидка до
    -
      title: Citroen
      logo: img/auto-logo/citroen.png
      offer: discount
      value: 10
      text: Скидка до
    -
      title: Jaguar
      logo: img/auto-logo/jaguar.jpg
      offer: discount
      value: 3
      text: Скидка до
    -
      title: Mitsubishi
      logo: img/auto-logo/mitsubishi.png
      offer: terms
      text: Выгода до 140 000
    -
      title: Skoda
      logo: img/auto-logo/skoda.png
      offer: discount
      value: 5
      text: Скидка до
    -
      title: BMW
      logo: img/auto-logo/bmw.jpg
      offer: special
      text: Специальная программа
    -
      title: Ford
      logo: img/auto-logo/ford.png
      offer: terms
      text: Выгода до 140 000
    -
      title: KIA
      logo: img/auto-logo/kia.jpg
      offer: special
      text: Специальная программа
    -
      title: Nissan
      logo: img/auto-logo/logo_nisssan.png
      offer: discount
      value: 6
      text: Скидка до
    -
      title: Toyota
      logo: img/auto-logo/Toyota-logo.jpg
      offer: special
      text: Специальная программа
    -
      title: Cadillac
      logo: img/auto-logo/cadilac.jpg
      offer: discount
      text: Скидка до
      value: 14
    -
      title: Hyundai
      logo: img/auto-logo/hyundai.jpg
      offer: special
      text: Специальная программа
    -
      title: Land Rover
      logo: img/auto-logo/Land-Rover_logo.jpg
    -
      title: Porsche
      logo: img/auto-logo/porsche.jpg
      offer: special
      text: Специальная программа
    -
      title: Volkswagen
      logo: img/auto-logo/vwlogo.jpg
      offer: discount
      text: Скидка до
      value: 9
    -
      title: Chevrolet
      logo: img/auto-logo/chevrolet.jpg
      offer: discount
      text: Скидка до
      value: 14
    -
      title: Infiniti
      logo: img/auto-logo/infiniti.jpg
      offer: discount
      text: Скидка до
      value: 4
    -
      title: Mercedes Benz
      logo: img/auto-logo/logo_mersedes.png
      offer: special
      text: Специальная программа
    -
      title: Renault
      logo: img/auto-logo/logo_renault.png
      offer: special
      text: Специальная программа
    -
      title: Volvo
      logo: img/auto-logo/volvo.jpg
      offer: discount
      text: Скидка до
      value: 7
  -
    -
      title: Chery
      logo: img/auto-logo/chery.jpg
    -
      title: Chrysler
      logo: img/auto-logo/chrysler.jpg
    -
      title: Datsun
      logo: img/auto-logo/Logo_Datsun.jpg
    -
      title: Fiat
      logo: img/auto-logo/fiat.jpg
    -
      title: Geely
      logo: img/auto-logo/geely.jpg
    -
      title: Great Wall
      logo: img/auto-logo/great-wall.png
    -
      title: Honda
      logo: img/auto-logo/honda.jpg
    -
      title: Нummer
      logo: img/auto-logo/hummer.png
    -
      title: Isuzu
      logo: img/auto-logo/isuzu.png
      offer: special
      text: Специальная программа
    -
      title: Jeep
      logo: img/auto-logo/jeep-logo.jpg
      offer: terms
      text: Выгода до 140 000
    -
      title: Lada
      logo: img/auto-logo/VAZ.jpg
      offer: special
      text: Специальная программа
    -
      title: Lexus
      logo: img/auto-logo/Lexus.jpg
      offer: special
      text: Специальная программа
    -
      title: Lifan
      logo: img/auto-logo/lifan.png
    -
      title: Mazda
      logo: img/auto-logo/mazda-logo.jpg
      offer: terms
      text: Выгода до 140 000
    -
      title: Mini
      logo: img/auto-logo/mini.jpg
      offer: discount
      text: Скидка до
      value: 5
    -
      title: Peugeot
      logo: img/auto-logo/peugeot.jpg
      offer: discount
      text: Скидка до
      value: 10
    -
      title: Smart
      logo: img/auto-logo/smartcar.png
    -
      title: Subaru
      logo: img/auto-logo/logo_subaru.png
    -
      title: Suzuki
      logo: img/auto-logo/suzuki.png
    -
      title: УАЗ
      logo: img/auto-logo/VAZ.jpg
      offer: special
      text: Специальная программа

trucks:
  -
    img: ./img/transport/truck-1.png
    title: Грузовые автомобили
  -
    img: ./img/transport/truck-2.png
    title: Малотоннажный траспорт (легкий коммерческий)
  -
    img: ./img/transport/truck-3.png
    title: Пассажирский транспорт
  -
    img: ./img/transport/truck-4.png
    title: Тягачи седельные
  -
    img: ./img/transport/truck-5.png
    title: Прицепы (Полуприцепы)

specials:
  -
    img: ./img/transport/special-1.png
    title: Землеройная техника
  -
    img: ./img/transport/special-2.png
    title: Подъемная техника
  -
    img: ./img/transport/special-3.png
    title: Асфальтобетонное оборудование
  -
    img: ./img/transport/special-4.png
    title: Коммунальная техника
  -
    img: ./img/transport/special-5.png
    title: Складская техника
  -
    img: ./img/transport/special-6.png
    title: Дорожно-строительная техника
  -
    img: ./img/transport/special-7.png
    title: Карьерная техника
  -
    img: ./img/transport/special-8.png
    title: Буровая техника
  -
    img: ./img/transport/special-9.png
    title: Лесозаготовительная техника

equipment:
  -
    img: ./img/transport/equipment-1.png
    title: Промышленное оборудование
  -
    img: ./img/transport/equipment-2.png
    title: Сельскохозяйственное оборудование
  -
    img: ./img/transport/equipment-3.png
    title: Деревообрабатывающее оборудование
  -
    img: ./img/transport/equipment-4.png
    title: Производственное оборудование
  -
    img: ./img/transport/equipment-5.png
    title: Оборудование для пищевой промышленности
  -
    img: ./img/transport/equipment-6.png
    title: Медицинское оборудование

offersCars:
  -
    type: percent
    value: 15
    title: Toyota / Lexus / Land Rover со скидкой до 15%
    text: Аванс от 4%-50%. В рамках  программы лизингополучатели смогут заключить договора с беспрецендентно высокой остаточной стоимотью. Для бизнеса это возможность существенно снизить ежемесячные платежи
    offerType: Toyota /Lexus /Land Rover
    offerHeader: Toyota / Lexus / Land Rover
  -
    type: percent
    value: 10
    title: Автомобили Kia / Hyndai со скидкой до 10%
    list:
      - Аванс от 5%
      - Срок до 36 месяцев
      - Минимальный пакет документов
    offerType:  Kia/ Hyundai
    offerHeader:  Kia / Hyundai
  -
    type: percent
    value: 22
    title: Все модели Mercedes - Benz со скидкой до 10%. Mercedes - Benz S класс со скидкой до 22%
    list:
      - Аванс от 13-50%
      - Срок лизинга до 5 лет
      - Упрощенная система одобрения/возможно по 2-м документам за 3 часа
    offerType: Mercedes Benz
    offerHeader: Mercedes Benz
  -
    type: currency
    title: Новый Renault KOLEOS на выгодных условиях
    list:
      - Выгода до 108 450 рублей
      - Аванс от 5%
      - Срок до 36 месяцев
    offerType: Renault KOLEOS
    offerHeader: Renault KOLEOS
  -
    type: percent
    value: 15
    title: Автомобили Porsсhe в лизинг со скидкой до 15%
    list:
      - На Porsche Macan и Porsche Cayenne КАСКО в подарок
      - Аванс от 10%-50%
      - Одобрение по двум документам за 3 часа
    offerType: Porsche
    offerHeader: Porsche
  -
    type: percent
    value: 17
    title: Автомобили BMW в лизинг на выгодный условиях со скидками до 17%
    list:
      - Аванс от 5%-50%
      - Сниженные ежемесячные платежи
      - Решение по двум документам
    offerType: BMW
    offerHeader: BMW

offersTruck:
  -
    type: currency
    title: Государственная субсидия  на коммерческий транспрт производства РФ
    list:
      - Скидка  на оплату аванса 10%
      - Максимальный размер скидки 10 миллионов на 1 клиента
      - Предварительное решение в день обращения
      - Срок лизинга от 13 до 60 мес.
    offerType: Государственная субсидия
    offerHeader: Государственная субсидия
  -
    type: percent
    value: 12
    title: IVECO Daily в лизинг на 12% дешевле
    list:
      - Аванс от 20% до 49%
      - ТО в течении 2 лет или 100 000 км БЕСПЛАТНО
      - Специальный тариф КАСКО
    offerType: IVECO Daily
    offerHeader: IVECO Daily
  -
    type: currency
    title: MAN/Volvo/Scania/Mersedes-Bens Commercial
    list:
      - Пониженный аванс
      - Срок лизинга от 1-5 лет
      - Удорожание от 5%
      - Минимальный пакет документов
      - Упрощенная процедура одобрения
    offerType: MAN /Volvo /Scania /Mercedes Benz
    offerHeader: MAN / Volvo / Scania / Mercedes Benz

offersEquipment:
  -
    type: currency
    title: Экспресс-лизинг оборудования
    list:
      - Аванс от 20%
      - Стоимость до 15 млн. рублей
      - Срок до 36 месяцев
      - Предварительное решение за 1 день
    offerType: none
    offerHeader: оборудования
  -
    type: currency
    title: Программа ФРП "Лизинговые проекты"
    list:
      - Аванс от 10% до 49%
      - Стоимость от 20 млн. рублей
      - Займ ФРП  10-90% от суммы аванса
      - Срок до 5 лет
      - Ставка по займу 1% годовых
    offerType: frp
    offerHeader: ФРП

offersSpecial:
  -
    type: currency
    title: Техника Case/New Holland c удорожанием от 2,72%
    list:
      - Аванс от 5% до 49%
      - Срок лизинга до 36 мес.
      - Минимальный пакет документов
    offerType: Case /New Holland
    offerHeader: Case / New Holland
  -
    type: currency
    title: Вся техника китайского производства
    list:
      - Аванс от 5%
      - Стоимость единицы техники до 10 млн.руб.
      - Срок лизинга от 12 до 37 месяцев
      - Упрощенная система одобрения
    offerType: none
    offerHeader: Китайской техники
  -
    type: currency
    title: Вся техника Белорусского производства
    list:
      - Аванс  от 10%
      - Лизинг частично субсидирован Правительством Республики Беларусь
      - Упрощенная система одобрения/минимальный пакет
    offerType: none
    offerHeader: Белорусской техники

steps:
  -
    text:
      - Вы оставляете заявку
      - где указываете  ваше имя и телефон
    btn: true
    bigger: true
  -
    text:
      - Звоним Вам в течении 15 минут
      - уточняем информацию
    btn: false
  -
    text:
      - Выбираем для Вас лучший вариант
      - быстрого одобрения с минимальным авансом
    btn: false
  -
    text:
      - Запускаем процесс одобрения
      - в согласованной с Вами компании
    btn: false
  -
    text:
      - Контролируем сделку
      - на всех этапах, до получения одобрения
    btn: false
  -
    text:
      - Вы получаете лизинг
      - пользуетесь предметом лизинга
    btn: false
    bigger: true

workingWithUs:
  -
    left:
      -
        icon: chronometer
        text: С момента оформления заявки до заключения сделки проходит не более 1 недели
      -
        icon: target
        text: Наш опыт позволяет сразу выбрать наиболее выгодное и подходящее для Вас предложение
    right:
      -
        icon: time-control-tool
        text: В среднем у Вас уйдет не менее 1 месяца на оформление сделки
      -
        icon: human-head-with-a-question-mark-inside
        text: Необходимо собрать, изучить и ПРАВИЛЬНО проанализировать большой объем информации об условиях в разных компаниях
  -
    left:
      -
        icon: medal
        text: Подбираем оптимальную лизинговую компанию, и работаем только с опытными и эффективными сотрудниками
      -
        icon: briefcase
        text: Помогаем собрать все необходимые документы для получения лизинга
    right:
      -
        icon: baby-face
        text: Вы рискуете «попасть в руки» новичка, неопытного и некомпетентного сотрудника лизинговой компании
      -
        icon: justice
        text: Вы можете не узнать об интересных спецпредложениях
  -
    left:
      -
        icon: percentage
        text: Предложим лучших дилеров автомобилей и техники со скидкой до 20%
      -
        icon: dollar-symbol
        text: Мы Вам помогаем совершенно БЕСПЛАТНО, лизинговые компании оплачивают нашу работу
    right:
      -
        icon: gym
        text: Вы можете устать от долгого процесса и выбрать в итоге не самое выгодное предложение
      -
        icon: money-stacks-of-coins
        text: Скорее всего Вы переплатите, поскольку не знаете всех тонкостей лизинга

reviewSliders:
  -
    slides:
      -
        photo: img/avatar.png
        name: ООО / Михаил Юрьевич
        text: С коллективом РЛЦ наша компания знакома уже много лет. Мы неоднократно приобретали автомобили в лизинг. К сожалению, в большинстве компаний, с которыми мы сталкивались достаточно длительный процесс рассмотрения заявки. И только благодаря менеджерам РЛЦ мы получали быстрое одобрение. Рекомендую всем.
      -
        photo: img/avatar.png
        name: ООО / Владимир Сергеевич
        text: Мы достаточно крупная транспортная компания. Приобретали автомобили в лизинг неоднократно. Каждый раз, обращаясь в лизинговую компанию, мы сталкивались с какими-то сложностями. В последний раз, мы не могли получить одобрение с интересующим нас авансом. Нас одобряли, но с более крупным авансом, чем мы хотели. К услугам лизинговых брокеров мы ранее никогда не обращались и не рассматривали этот вариант. Совершенно случайно нам порекомендовали опытного менеджера, который работает у независимого брокера. Неожиданно для нас нам подобрали компанию, которая одобрила нас с нужным нам авансом. Все прошло быстро и четко. Сотрудники очень вежливые и компетентные. Будем обращаться в дальнейшем сами и всем рекомендуем.
      -
        photo: img/avatar.png
        name: ООО / Борис Вячеславович
        text: Мы небольшая компания. Занимаемся грузоперевозками. Возникла необходимость дополнительно приобрести б/у тягач Вольво и прицеп. Нужна была обязательно Вольво для работы на севере. Машину мы нашли у одного поставщика. Мы отправили заявки в разные лизинговые компании. Нигде мы не могли получить одобрение. Везде были какие-то сложности с финансированием б/у. В итоге, так и не получив одобрения самостоятельно, мы обратились к брокеру РЛЦ. Не могу сказать, что сразу, но мы получили одобрение на приобретение той машины, которую мы хотели. Самостоятельно это у нас не получилось, нам везде отказывали. Рекомендую сразу обращаться к менеджерам РЛЦ. Вам все расскажут, все объяснят и подберут хороший вариант.
  -
    slides:
      -
        photo: img/avatar.png
        name: ФЗ / Олег Иванович
        text: Я решил приобрести автомобиль в лизинг на физическое лицо. Обратившись в лизинговые компании, я понял, что сделать это будет невозможно. Я решил, что мне придется открывать ИП или ООО. К счастью, я оставил заявку на сайте reglc.ru. Мне все очень хорошо объяснили и подобрали нужную компанию. В итоге, меня одобрили, и я взял авто в лизинг как физическое лицо. Спасибо большое за помощь.
      -
        photo: img/avatar.png
        name: ФЗ / Анатолий Петрович
        text: Подав несколько заявок и получив отказ, обратился в РЛЦ с заявкой на лизинг легкового автомобиля. Мне очень быстро подобрали лизинговую компанию, в которой меня одобрили. Спасибо. Всем Рекомендую.
      -
        photo: img/avatar.png
        name: ФЗ / Евгений
        text: Оставил заявку на лизинг. Со мной связались, выслушали и посоветовали взять кредит вместо лизинга. Объяснили почему. Я согласился. Мне подобрали банк, в котором я получил одобрение. Очень доволен. Спасибо.

reviewSlider:
  -
    photo: img/avatar.png
    name: ИП / Виктор Васильевич
    text: Выражаю искреннюю благодарность. Мы потеряли много времени обратившись в лизинговые компании самостоятельно. После нескольких отказов мы обратились в Региональный лизинговый центр. Нас одобрили в лизинговой компании, о существовании которой мы даже не знали. Спасибо за помощь.
  -
    photo: img/avatar.png
    name: ИП / Галина Николаевна
    text: Очень благодарна сотрудникам Регионального Лизингового Центра. Нам оказали большую помощь в получении лизинга. ИП зарегистрировано всего несколько месяцев и мы не особо верили, что сможем взять транспорт в лизинг. Тем не менее, мы оставили заявку и нам подобрали компанию, которая нас одобрила. Большое Вам спасибо!
  -
    photo: img/avatar.png
    name: ИП / Сергей Александрович
    text: Спасибо сотрудникам РЛЦ за квалифицированную помощь. Без Вашей помощи лизинг мы бы не получили. Будем обращаться к Вам и в дальнейшем.

questions:
  -
    title: В чем смысл работы с нами?
    text:
      - Для того, чтобы разобраться в условиях предоставления лизинга разными лизинговыми компаниями и выбрать оптимальный для себя вариант, Вам будет необходимо потратить много времени на сбор, изучение и анализ информации по данному вопросу.
      - Вам нужно выбрать правильную компанию под Ваши цели и попасть к опытному и эффективному менеджеру в лизинговой компании.
      - В противному случае, процесс одобрения растянется на длительный срок, а условия могут быть не самыми выгодными.
      - Мы хорошо знакомы с условиями и специализацией большинства лизинговых компаний. Имеем многолетний опыт работы в лизинге, знаем весь процесс изнутри и работаем только с профессионалами.
      - Мы сэкономим Ваше время и деньги.
  -
    title: Как быстро одобрят?
    text:
      - Одобрение, как правило, занимает от 1 до 5 дней. По спец. программам одобрение занимает от 1 до 3 часов.
  -
    title: Какой пакет документов необходим?
    list:
      - Заполненная Заявка-анкета по форме лизинговой компании;
      - Ксерокопия паспорта ген. Директора/ИП (разворот с фото + страница с пропиской);
      - Карточка компании с реквизитами;
      - Бухгалтерская отчетность за последние сданные периоды + годовая (формы 1,2 с отметкой налоговой инспекции или протоколом входного контроля) для ЮЛ и налоговая декларация для ИП.
    text:
      - Дополнительно могут быть запрошены оборотно-сальдовые ведомости.
  -
    title: Можно ли профинансировать б/у старше 5 лет?
    text:
      - Да, возможно.
      - Мы сотрудничаем с лизинговыми компаниями, которые могут финансировать б/у технику и транспорт до 10 лет.
  -
    title: Возможен ли выкуп предмета лизинга у физлица?
    text:
      - Да, возможен.
      - Мы сотрудничаем с лизинговыми компаниями, которые могут выкупить предмет лизинга у физлица.
  -
    title: Какой срок существования компании/ИП должен быть
    text:
      - Возможно одобрение компании/ИП со сроком существования от 1 месяца.
  -
    title: Сколько стоят Ваши услуги?
    text:
      - Для Вас наши услуги полностью бесплатные. Нашу работу оплачивают лизинговые компании. Для Вас это не приводит к удорожанию.
      - Когда Вы обращаетесь напрямую в лизинговую компанию, премию за привлечение получает менеджер лизинговой компании. Если клиента привлекаем мы, эта премия выплачивается нам, а не менеджеру лизинговой компании.

orderCallModals:
  -
    title: заказать звонок
    btnText: отправить
    dataType: order-call
  -
    title: оставить заявку
    btnText: оставить заявку
    dataType: leave-application
  -
    title: Задать вопрос менеджеру
    btnText: получить ответ
    dataType: ask-manager

existTime:
  - До 6 мес. (нам нет 6 мес.)
  - От 6 мес. - до 1 года (нам нет 1 года)
  - От 1 года и более (нам 1 год и более)

---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- begin hero -->
	<div class="hero">
		<div class="hero__in l-container">
			<header class="hero__header">
				<!-- begin logo -->
					<div class="logo hero__logo">
						<div class="logo__icon">
							{{mixins.icon('trophy')}}
						</div>
						<div class="logo__textual">
							<p>
								ВЫГОДННЫЕ УСЛОВИЯ ЛИЗИНГА В РОССИИ
							</p>
						</div>
					</div>
				<!-- end logo -->
				<!-- begin order-call -->
					<div class="order-call">
						<div class="order-call__in">
							<div class="order-call__icon">
								{{mixins.icon('icon')}}
							</div>
							<a class="order-call__number" href="tel:8(495)6658444"><span>8 (495)</span> 665 8 444</a>
						</div>
						<!-- begin btn -->
							<a href="#" class="order-call__btn js-modal-link" data-modallink="order-call">
								заказать звонок
							</a>
						<!-- end btn -->
					</div>
				<!-- end order-call -->
			</header>
			<div class="hero__content">
				<!-- begin sticker -->
					<div class="sticker hero__sticker">
						<div class="sticker__in">
							<div class="sticker__textual">
								аванс от
								<div class="sticker__value">
									5<span class="sticker__percent">%</span>
								</div>
							</div>
						</div>
					</div>
				<!-- end sticker -->
				<h1 class="title title_h1 title_color-white hero__title hero__title_h1">Автомобили и техника в лизинг</h1>
				<form class="hero__form" data-form-title="Получить бесплатную консультацию">
					<h4 class="title title_h4 title_color-yellow hero__title hero__title_h4">Получить бесплатную консультацию</h4>
					<div class="hero__textual">
						<p>
							С Вами свяжутся в течении 15 минут
						</p>
					</div>
					<div class="hero__form-container">
						<input type="text" name="Имя" class="hero__input js-required" placeholder="Ваше имя" />
						<input type="text" name="Телефон" class="hero__input js-required" placeholder="Ваш телефон" />
						<button type="submit" class="btn btn_yellow">отправить</button>
					</div>
					<div class="hero__textual hero__textual_personal-data">
						<p>
							Оставляя заявку, вы даёте согласие на
							<a href="#" class="hero__link js-modal-link" data-modallink="personal-data">
								обработку <span>персональных данных</span>.
							</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
<!-- end hero -->
<!-- begin calculator -->
	<div class="calculator">
		<div class="calculator__in l-container">
			<header class="calculator__header">
				<h4 class="title title_h4 calculator__title calculator__title_h4">
					Совместные программы с поставщиками и лизинговыми компаниями
				</h4>
				<!-- begin offers -->
					<div class="offers">
						<div class="offers__in">
							<div class="offers__item">
								<div class="offers__icon">
									{{mixins.icon('coin')}}
								</div>
								<div class="offers__textual">
									<p>
										Аванс от 5%
									</p>
								</div>
							</div>
							<div class="offers__item">
								<div class="offers__icon">
									{{mixins.icon('briefcase')}}
								</div>
								<div class="offers__textual">
									<p>
										Минимальный пакет документов
									</p>
								</div>
							</div>
							<div class="offers__item">
								<div class="offers__icon">
									{{mixins.icon('chronometer-arrow')}}
								</div>
								<div class="offers__textual">
									<p>
										Решение за 1 час
									</p>
								</div>
							</div>
							<div class="offers__item">
								<div class="offers__icon">
									{{mixins.icon('rent-a-car-sign')}}
								</div>
								<div class="offers__textual">
									<p>
										Индивидуальные программы
									</p>
								</div>
							</div>
              <!-- begin sticker -->
                <div class="sticker sticker_bigger sticker_color-blue offers__sticker">
                  <div class="sticker__in">
                    <div class="sticker__textual">
                      скидки на авто
                      <div class="sticker__value">
                        <span class="sticker__text">до</span>
                        20
                        <span class="sticker__percent">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- end sticker -->
						</div>
					</div>
				<!-- end offers -->
				<!-- begin programs -->
					<div class="programs">
						<div class="programs__in">
							<h2 class="title title_h2 title_text-center">программы лизинга</h2>
							<div class="programs__tabs js-tabs-wrapper">
								<div class="programs__tab is-active js-tab" data-tab="transport" data-tab-index="1">
									<a href="#" class="programs__link">
										Легковой транспорт
									</a>
									<div class="programs__types js-tabs-wrapper">
										<a href="#" class="programs__type is-active js-tab" data-tab="features" data-tab-index="1">Експресс</a>
										<a href="#" class="programs__type js-tab" data-tab="features" data-tab-index="2">Стандарт</a>
									</div>
								</div>
								<div class="programs__tab js-tab"  data-tab="transport" data-tab-index="2">
									<a href="#" class="programs__link">
										Грузовой траспорт
									</a>
									<div class="programs__types js-tabs-wrapper">
										<a href="#" class="programs__type is-active js-tab" data-tab="features" data-tab-index="3">Експресс</a>
										<a href="#" class="programs__type js-tab" data-tab="features" data-tab-index="4">Стандарт</a>
									</div>
								</div>
								<div class="programs__tab js-tab"  data-tab="transport" data-tab-index="3">
									<a href="#" class="programs__link">
										Спецтехника
									</a>
									<div class="programs__types js-tabs-wrapper">
										<a href="#" class="programs__type is-active js-tab" data-tab="features" data-tab-index="5">Експресс</a>
										<a href="#" class="programs__type js-tab" data-tab="features" data-tab-index="6">Стандарт</a>
									</div>
								</div>
								<div class="programs__tab js-tab" data-tab="transport" data-tab-index="4">
									<a href="#" class="programs__link">
										Оборудование
									</a>
									<div class="programs__types js-tabs-wrapper">
										<a href="#" class="programs__type is-active js-tab" data-tab="features" data-tab-index="7">Експресс</a>
										<a href="#" class="programs__type js-tab" data-tab="features" data-tab-index="8">Стандарт</a>
									</div>
								</div>
							</div>
              {% for feature in features %}
							<!-- begin details -->
								<div class="details {% if loop.index === 1 %}is-visible{% endif %}" data-features="{{loop.index}}">
									<div class="details__in">
                    {% for item in feature %}
                    <div class="details__item">
                      <div class="details__icon">
                        {{mixins.icon(item.icon)}}
                      </div>
                      <div class="details__textual">
                        <h6 class="title title_h6 details__title">
                          {% for title in item.title %}
                          {{title}}
                          <br />
                          {% endfor %}
                        </h6>
                        <div class="details__text">
                          {% if item.list %}
                          <p>
                            <ul>
                                {% for item in item.list %}
                                <li>{{item}}</li>
                                {% endfor %}
                            </ul>
                          </p>
                          {% endif %}
                          {% if item.text %}
                          {% for item in item.text %}
                          <p>
                            {{item}}
                          </p>
                          {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
									</div>
								</div>
							<!-- end details -->
              {% endfor %}
              {% set type = 'cars' %}
              {% set title = 'Марка' %}
              {% include 'partials/_transport-car.html' %}
              {% set type = 'transport' %}
              {% set title = 'Транспорт' %}
              {% include 'partials/_transport-truck.html' %}
              {% set type = 'special-equipment' %}
              {% set title = 'Техника' %}
              {% include 'partials/_transport-special.html' %}
              {% set type = 'equipment' %}
              {% set title = 'Оборудование' %}
              {% include 'partials/_transport-equipment.html' %}
						</div>
					</div>
				<!-- end programs -->
			</header>
		</div>
	</div>
<!-- end calculator -->
<!-- begin how-we-work -->
	<div class="how-we-work js-activity">
		<div class="how-we-work__in">
			<h4 class="title title_h4 title_text-center title_text-lighten">как мы работаем</h4>
			<div class="how-we-work__road js-activity-road">
				<div class="how-we-work__car js-activity-car">
					<img src="img/car.svg" alt="Car on the road" />
				</div>
				<div class="how-we-work__content l-container">
					{% for step in steps %}
					<div class="how-we-work__row js-activity-el">
						<div class="how-we-work__step {% if step.bigger === true %}how-we-work__step_bigger{% endif %}">
							<span class="how-we-work__step-index">{{loop.index}}</span>
						</div>
						<div class="how-we-work__item {% if step.btn === true %}how-we-work__item_has-btn{% endif %} js-activity-el-in">
              <div class="how-we-work__textual">
                {% for item in step.text %}
  							<p>
  								{{item}}
  							</p>
                {% endfor %}
              </div>
              {% if step.btn === true %}
              <a href="#" class="how-we-work__btn js-modal-link" data-modallink="leave-application">оставить заявку</a>
              {% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
<!-- end how-we-work -->
<!-- begin working-with-us -->
	<div class="working-with-us">
		<div class="working-with-us__in l-container">
      <div class="working-with-us__header">
        <div class="working-with-us__block working-with-us__block_left">
          <h4 class="title title_h4 title_color-white">
            Преимущества работы
            <span class="working-with-us__title-text working-with-us__title-text_dark">с нами</span>
          </h4>
        </div>
        <div class="working-with-us__block working-with-us__block_right">
          <h4 class="title title_h4 title_color-white">
            Недостатки работы
            <span class="working-with-us__title-text working-with-us__title-text_light">без нас</span>
          </h4>
        </div>
      </div>
			<div class="working-with-us__container">
        {% for row in workingWithUs %}
          <div class="working-with-us__items working-with-us__items_left">
            {% for item in row.left %}
              <div class="working-with-us__item">
                <div class="working-with-us__icon">
                  {{mixins.icon(item.icon)}}
                </div>
                <div class="working-with-us__textual">
                  <p>
                    {{item.text}}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
          {% if loop.index === 3 %}
          <h4 class="title title_h4 title_color-white working-with-us__title_hidden">
            Недостатки работы
            <span class="working-with-us__title-text working-with-us__title-text_light">без нас</span>
          </h4>
          {% endif %}
          <div class="working-with-us__items working-with-us__items_right">
            {% for item in row.right %}
              <div class="working-with-us__item">
                <div class="working-with-us__icon">
                  {{mixins.icon(item.icon)}}
                </div>
                <div class="working-with-us__textual">
                  <p>
                    {{item.text}}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
		</div>
	</div>
<!-- end working-with-us -->
<!-- begin create-request -->
	<div class="create-request">
		<div class="create-request__in l-container">
			<h3 class="title title_h3 title_text-center">оформить запрос</h3>
			<div class="create-request__wrapper">
				<div class="create-request__side">
				{% include 'partials/_request-form.html' %}
				</div>
				<div class="create-request__side">
					<div class="create-request__info">
						<div class="create-request__textual">
							<p>
								Отправьте запрос и мы свяжемся с Вами <span>в течении 15 минут</span>
							</p>
							<p>
								Предложим Вам несколько вариантов одобрения
							</p>
							<p>
								Мы <span>сэкономим Вам время и деньги</span>, проанализируем финансовое состояние компании или ИП и предложим несколько вариантов получения имущества в лизинг.
							</p>
						</div>
						<div class="create-request__graphic">
							<div class="create-request__image"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end create-request -->
<!-- begin reviews -->
	<div class="reviews">
		<div class="reviews__in">
			<!-- begin l-container -->
				<div class="reviews__wrapper l-container">
					<div class="reviews__side">
						{% for slider in reviewSliders %}
						<!-- begin slider -->
							<div class="slider slider_review slider_review-{{loop.index}}">
								<div class="slider__arrows">
									<div class="slider__arrow slider__arrow_next">
										{{mixins.icon('arrow-pointing-right-in-a-circle')}}
									</div>
									<div class="slider__arrow slider__arrow_prev">
										{{mixins.icon('arrow-pointing-right-in-a-circle')}}
									</div>
								</div>
								<div class="slider__in">
									{% for slide in slider.slides %}
									<div class="reviews__item">
                    <div class="reviews__header">
                      <div class="reviews__photo">
                        <img src="{{slide.photo}}" alt="Avatar" />
                      </div>
                      <div class="reviews__name">
                        {{slide.name}}
                      </div>
                    </div>
										<div class="reviews__text">
                      <div class="reviews__textual js-hidden-content">
                        <p>
                          {{slide.text}}
                        </p>
                      </div>
                      <div class="reviews__show-more js-show-more">
                        <a href="#">Читать весь отзыв</a>
                      </div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						<!-- end slider -->
						{% endfor %}
					</div>
					<div class="reviews__side reviews__side_right">
						<h3 class="title title_h3 title_text-right reviews__title">довольные клиенты</h3>
						<div class="reviews__counter">
							<div class="reviews__count js-animate-count" data-count-val="3516">0</div>
							<div class="reviews__text-value">
								<p>
									клиентов получили финансирование с нашей помощью
								</p>
							</div>
						</div>
						<!-- begin slider -->
							<div class="slider slider_review slider_review-right">
								<div class="slider__arrows">
									<div class="slider__arrow slider__arrow_next">
										{{mixins.icon('arrow-pointing-right-in-a-circle')}}
									</div>
									<div class="slider__arrow slider__arrow_prev">
										{{mixins.icon('arrow-pointing-right-in-a-circle')}}
									</div>
								</div>
								<div class="slider__in">
									{% for slide in reviewSlider %}
									<div class="reviews__item">
                    <div class="reviews__header">
  										<div class="reviews__photo">
  											<img src="{{slide.photo}}" alt="Avatar" />
  										</div>
  										<div class="reviews__name">
  											{{slide.name}}
  										</div>
                    </div>
										<div class="reviews__text">
                      <div class="reviews__textual js-hidden-content">
                        <p>
                          {{slide.text}}
                        </p>
                      </div>
                      <div class="reviews__show-more js-show-more">
                        <a href="#">Читать весь отзыв</a>
                      </div>
                    </div>
									</div>
									{% endfor %}
								</div>
							</div>
						<!-- end slider -->
					</div>
				</div>
			<!-- end l-container -->
		</div>
	</div>
<!-- end reviews -->
<!-- begin questions -->
	<div class="questions">
		<div class="questions__in">
			<h3 class="title title_h3 title_text-center">частые вопросы</h3>
			<div class="questions__wrapper">
				{% for question in questions %}
				<div class="questions__item {% if question.active %}is-active{% endif %} js-accordeon">
					<div class="questions__header js-accordeon-btn">
						<div class="questions__btn">
							{{mixins.icon('down-arrow')}}
						</div>
						<div class="questions__title">
							{{question.title}}
						</div>
					</div>
					<div class="questions__text js-accordeon-hidden">
						{% if question.list %}
						<ul>
						{% for item in question.list %}
							<li>{{item}}</li>
						{% endfor %}
						</ul>
						{% endif %}
						{% for text in question.text %}
						<p>
							{{text}}
						</p>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
<!-- end questions -->
<!-- begin have-questions -->
	<div class="have-questions">
		<div class="have-questions__in l-container">
			<h3 class="title title_h3">остались вопросы?</h3>
			<div class="have-questions__textual">
				<span>Введите ваше имя, телефон и вопрос.</span> Наш специалист свяжется с вами и бесплатно проконсультирует
			</div>
			<form class="have-questions__form" data-form-title="Остались вопросы">
				<div class="have-questions__item">
					<div class="input">
						<input type="text" class="input__field" name="Имя" />
						<span class="input__placeholder">Имя</span>
					</div>
					<div class="input">
						<input type="text" class="input__field js-required" name="Телефон" />
						<span class="input__placeholder">Телефон</span>
					</div>
				</div>
				<div class="have-questions__item have-questions__item_has-textarea">
					<div class="have-questions__textual">
						Напишите Ваш вопрос
					</div>
					<!-- begin textarea -->
					<div class="textarea">
						<textarea cols="30" rows="10" name="Сообщение" class="js-required"></textarea>
					</div>
					<!-- end textarea -->
				</div>
				<div class="have-questions__item have-questions__item_has-btn">
					<button type="submit" class="btn btn_blue btn_large">отправить вопрос</button>
				</div>
			</form>
			<div class="have-questions__textual have-questions__textual_bottom">
				Оставляя заявку, вы даёте
				<a href="#" class="have-questions__link js-modal-link" data-modallink="personal-data">согласие на обработку персональных данных</a>
			</div>
		</div>
	</div>
<!-- end have-questions -->
{% include 'partials/_footer.html' %}
<!-- begin to-top -->
  <div class="to-top">
    {{mixins.icon('down-arrow')}}
  </div>
<!-- end to-top -->
{% for item in orderCallModals %}
<!-- begin modal -->
	<div class="modal modal_order-call" data-modal="{{item.dataType}}">
		<div class="modal__in">
			<div class="modal__close">
				{{mixins.icon('cross-out')}}
			</div>
			<div class="modal__content">
				<h3 class="title title_h3 title_text-center">{{item.title}}</h3>
				<div class="modal__text">
					<p>
						Мы свяжемся с Вами в течении 15 минут
					</p>
				</div>
				<form class="modal__form" data-form-title="{{item.title}}">
					<!-- begin input -->
						<div class="input">
							<input type="text" class="input__field" name="Имя" />
							<span class="input__placeholder input__placeholder">Введите имя</span>
						</div>
					<!-- end input -->
					<!-- begin input -->
						<div class="input">
							<input type="text" class="input__field" name="Телефон" />
							<span class="input__placeholder input__placeholder">Введите телефон</span>
						</div>
					<!-- end input -->
					<!-- begin textarea -->
						<div class="textarea">
							<textarea cols="30" rows="10" name="Сообщение" class="js-required"></textarea>
							<div class="textarea__placeholder">Укажите интересующую Вас информацию</div>
						</div>
					<!-- end textarea -->
					<!-- begin button -->
						<button type="submit" class="btn btn_blue modal__btn">{{item.btnText}}</button>
					<!-- end button -->
					<div class="modal__details">
						<p>
							Оставляя заявку, вы даёте <span>согласие на обработку персональных данных</span>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
<!-- end modal -->
{% endfor %}
<!-- begin modal -->
	<div class="modal" data-modal="personal-data">
		<div class="modal__in">
			<div class="modal__close">
				{{mixins.icon('cross-out')}}
			</div>
			<div class="modal__content">
				<h4 class="title title_h4 title_h4-smaller title_text-center">сообщение об обработке персональных данных</h4>
				<div class="modal__textual">
					<p>
						Обработка персональных данных Пользователя осуществляется в соответствии с законоательством Российской Федерации. Администрация сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю услуг. Пользователь заполняя форму «Имя», «Email», «Телефон» дает согласие на обработку свои персональных данных - имени, адреса электронной почты и номера телефона. Под обработкой персональных данных понимается сбор, систематизация, накопление, уточнение (обновление, изменение). Обработка осуществляется с использованием средств автоматизации и/или без использования таких средств. в целях реализации мероприятий оповещения пользователя о новых услугах и акциях компании и для обратной связи с пользователями сайта
					</p>
				</div>
			</div>
		</div>
	</div>
<!-- end modal -->
<!-- begin modal -->
  <div class="modal" data-modal="privacy-policy">
    <div class="modal__in">
      <div class="modal__close">
        {{mixins.icon('cross-out')}}
      </div>
      <div class="modal__content">
        <h4 class="title title_h4 title_h4-smaller title_text-center">Политика конфиденциальности</h4>
        <div class="modal__textual">
          <p>
            Обработка персональных данных Пользователя осуществляется в соответствии с законоательством Российской Федерации. Администрация сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю услуг. Пользователь заполняя форму «Имя», «Email», «Телефон» дает согласие на обработку свои персональных данных - имени, адреса электронной почты и номера телефона. Под обработкой персональных данных понимается сбор, систематизация, накопление, уточнение (обновление, изменение). Обработка осуществляется с использованием средств автоматизации и/или без использования таких средств. в целях реализации мероприятий оповещения пользователя о новых услугах и акциях компании и для обратной связи с пользователями сайта
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- end modal -->
<!-- begin modal -->
  <div class="modal modal_form" data-modal="special-offer">
    <div class="modal__in">
      <div class="modal__close">
        {{mixins.icon('cross-out')}}
      </div>
      <div class="modal__content">
        <h4 class="title title_h4 title_h4-smaller title_text-center">Спецпрограмма для</h4>
        {% set modal = true %}
        {% include 'partials/_request-form.html' %}
      </div>
    </div>
  </div>
<!-- end modal -->
<!-- begin modal -->
  <div class="modal modal_size-bigger modal_form" data-modal="step-2">
    <div class="modal__in">
      <div class="modal__close">
        {{mixins.icon('cross-out')}}
      </div>
      <div class="modal__content">
        <!-- begin form-result -->
          <div class="form-result" data-form-title="Программы лизинга">
            <div class="form-result__in">
              <div class="form-result__side is-hidden" data-step="form">
                <div class="form-result__step">
                  <div class="form-result__step-title">
                    шаг 1
                  </div>
                  <div class="form-result__step-txt">
                    Предмет лизинга
                  </div>
                </div>
                <form class="form"></form>
                <a href="#" class="btn btn_blue form-result__btn js-back-to-step js-enable-el" data-enabled-el="js-steps">далее</a>
              </div>
              <div class="form-result__side" data-step="preview">
                <div class="form-result__step">
                  <div class="form-result__step-title">
                    шаг 1
                  </div>
                  <div class="form-result__step-txt">
                    Предмет лизинга
                  </div>
                </div>
                <div class="form-result__row">
                  <div class="form-result__item form-result__item_field">Марка</div>
                  <div class="form-result__item form-result__item_value" data-result="Марка"></div>
                </div>
                <div class="form-result__row">
                  <div class="form-result__item form-result__item_field">Модель</div>
                  <div class="form-result__item form-result__item_value" data-result="Модель"></div>
                </div>
                <div class="form-result__row">
                  <div class="form-result__item form-result__item_field">Состояние</div>
                  <div class="form-result__item form-result__item_value" data-result="Состояние"></div>
                </div>
                <div class="form-result__row">
                  <div class="form-result__item form-result__item_field">Цена</div>
                  <div class="form-result__item form-result__item_value" data-result="Цена"></div>
                </div>
                <div class="form-result__row">
                  <div class="form-result__item form-result__item_field">Аванс</div>
                  <div class="form-result__item form-result__item_value" data-result="Аванс"></div>
                </div>
                <div class="form-result__row">
                  <div class="form-result__item form-result__item_field">Период выплаты</div>
                  <div class="form-result__item form-result__item_value" data-result="Период выплаты"></div>
                </div>
                <a href="#" class="btn btn_transparent form-result__btn js-back-to-step js-disable-el" data-disabled-el="js-steps">изменить</a>
              </div>
              <div class="form-result__side">
                <div class="form-result__step">
                  <div class="form-result__step-title">
                    шаг 2
                  </div>
                  <div class="form-result__step-txt">
                    Ваши контактные данные
                  </div>
                </div>
                {% set modal = false %}
                {% include 'partials/_request-form.html' %}
              </div>
            </div>
          </div>
        <!-- end form-result -->
      </div>
    </div>
  </div>
<!-- end modal -->
{% endblock %}
