title: Спасибо за заявку
---

{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin thank-you -->
	<div class="thank-you">
		<!-- begin l-container -->
			<div class="l-container">
				<header class="thank-you__header">
					<!-- begin logo -->
						<div class="logo thank-you__logo">
							<div class="logo__icon">
								{{mixins.icon('trophy')}}	
							</div>
							<div class="logo__textual">
								<p>
									ВЫГОДННЫЕ УСЛОВИЯ ЛИЗИНГА В РОССИИ
								</p>
							</div>
						</div>
					<!-- end logo -->
					<a href="./" class="thank-you__link">Вернуться на сайт</a>
				</header>
				<div class="thank-you__content">
					<h1 class="title title_h1 title_color-blue title_text-center thank-you__title">
						Спасибо за заявку
					</h1>
					<div class="thank-you__textual">
						<p>
							Наш специалист свяжется с Вами в ближайшее время
						</p>
					</div>
				</div>
			</div>
		<!-- end l-container -->
	</div>
<!-- end thank-you -->
{% include 'partials/_footer.html' %}

{% endblock %}